# Commercial Store Data

<h2>Import Libraries</h2>

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import plotly.express as px

<h2> Load the Data</h2>

In [25]:
storeData=pd.read_csv("data.csv", low_memory=False)

In [26]:
#to display  max values
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
#create dataframe 
df = pd.DataFrame(storeData)

## Inspect data

In [27]:
# show data
df.head(100)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,12/1/2010 8:35,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24,12/1/2010 8:45,1.95,12583.0,France
36,536370,22659,LUNCH BOX I LOVE LONDON,24,12/1/2010 8:45,1.95,12583.0,France
37,536370,22631,CIRCUS PARADE LUNCH BOX,24,12/1/2010 8:45,1.95,12583.0,France
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,12/1/2010 8:45,0.85,12583.0,France
39,536370,21731,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,1.65,12583.0,France
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,12/1/2010 8:45,2.95,12583.0,France
41,536370,21913,VINTAGE SEASIDE JIGSAW PUZZLES,12,12/1/2010 8:45,3.75,12583.0,France
42,536370,22540,MINI JIGSAW CIRCUS PARADE,24,12/1/2010 8:45,0.42,12583.0,France
43,536370,22544,MINI JIGSAW SPACEBOY,24,12/1/2010 8:45,0.42,12583.0,France
44,536370,22492,MINI PAINT SET VINTAGE,36,12/1/2010 8:45,0.65,12583.0,France
45,536370,POST,POSTAGE,3,12/1/2010 8:45,18.00,12583.0,France
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,12/1/2010 9:00,2.55,13748.0,United Kingdom
47,536372,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 9:01,1.85,17850.0,United Kingdom
48,536372,22633,HAND WARMER UNION JACK,6,12/1/2010 9:01,1.85,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
51,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:02,2.75,17850.0,United Kingdom
52,536373,20679,EDWARDIAN PARASOL RED,6,12/1/2010 9:02,4.95,17850.0,United Kingdom
53,536373,37370,RETRO COFFEE MUGS ASSORTED,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
54,536373,21871,SAVE THE PLANET MUG,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
55,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
56,536373,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
57,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,12/1/2010 9:02,4.95,17850.0,United Kingdom
58,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,12/1/2010 9:02,6.95,17850.0,United Kingdom
59,536373,82482,WOODEN PICTURE FRAME WHITE FINISH,6,12/1/2010 9:02,2.10,17850.0,United Kingdom
60,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
61,536373,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
62,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
63,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:02,7.65,17850.0,United Kingdom
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 9:02,4.25,17850.0,United Kingdom
65,536374,21258,VICTORIAN SEWING BOX LARGE,32,12/1/2010 9:09,10.95,15100.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
67,536375,71053,WHITE METAL LANTERN,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
68,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:32,2.75,17850.0,United Kingdom
69,536375,20679,EDWARDIAN PARASOL RED,6,12/1/2010 9:32,4.95,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
71,536375,21871,SAVE THE PLANET MUG,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
72,536375,21071,VINTAGE BILLBOARD DRINK ME MUG,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
73,536375,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
74,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,12/1/2010 9:32,4.95,17850.0,United Kingdom
75,536375,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,12/1/2010 9:32,6.95,17850.0,United Kingdom
76,536375,82482,WOODEN PICTURE FRAME WHITE FINISH,6,12/1/2010 9:32,2.10,17850.0,United Kingdom
77,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
78,536375,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
79,536375,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
80,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:32,7.65,17850.0,United Kingdom
81,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 9:32,4.25,17850.0,United Kingdom
82,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,12/1/2010 9:32,3.45,15291.0,United Kingdom
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,12/1/2010 9:32,2.55,15291.0,United Kingdom
84,536377,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 9:34,1.85,17850.0,United Kingdom
85,536377,22633,HAND WARMER UNION JACK,6,12/1/2010 9:34,1.85,17850.0,United Kingdom
86,536378,22386,JUMBO BAG PINK POLKADOT,10,12/1/2010 9:37,1.95,14688.0,United Kingdom
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,12/1/2010 9:37,1.95,14688.0,United Kingdom
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,12/1/2010 9:37,2.95,14688.0,United Kingdom
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,12/1/2010 9:37,0.85,14688.0,United Kingdom
90,536378,84997B,RED 3 PIECE RETROSPOT CUTLERY SET,12,12/1/2010 9:37,3.75,14688.0,United Kingdom
91,536378,84997C,BLUE 3 PIECE POLKADOT CUTLERY SET,6,12/1/2010 9:37,3.75,14688.0,United Kingdom
92,536378,21094,SET/6 RED SPOTTY PAPER PLATES,12,12/1/2010 9:37,0.85,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED RETROSPOT,10,12/1/2010 9:37,1.65,14688.0,United Kingdom
94,536378,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/2010 9:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom

In [28]:
# summary of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27865 entries, 0 to 27864
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    27865 non-null  object
 1   StockCode    27865 non-null  object
 2   Description  27752 non-null  object
 3   Quantity     27865 non-null  int64
 4   InvoiceDate  27865 non-null  object
 5   UnitPrice    27865 non-null  float64
 6   CustomerID   17928 non-null  float64
 7   Country      27865 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.7+ MB

In [29]:
""" 
    InvoiceNo:invoice no: of customer
    StockCode:unique identifier assigned to each product 
    Description:product name
    Quantity:quantity of product 
    InvoiceDate:date of purchase
    UnitPrice:price per unit item
    CustomerID:unique ID of customer
    Country:country of customer
    TotalValue:total amount spend"""
#column information
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [30]:
"""Count: The number of non-null entries.
Mean: The average value.
Standard Deviation (std): The spread of the data.
Min: The minimum value.
25%: The 25th percentile (first quartile).
50%: The 50th percentile (median).
75%: The 75th percentile (third quartile).
Max: The maximum value."""
# Descriptive statistics
df.describe()

           Quantity     UnitPrice    CustomerID
count  27865.000000  27865.000000  17928.000000
mean       7.307088      6.770915  15582.891789
std       67.768182    171.499338   1755.083386
min    -9360.000000      0.000000  12347.000000
25%        1.000000      1.450000  14205.000000
50%        2.000000      2.510000  15628.000000
75%        6.000000      4.250000  17218.000000
max     2880.000000  13541.330000  18269.000000

## Handle Missing Values

In [31]:
# Check for missing values
print(df.isnull().sum())

InvoiceNo         0
StockCode         0
Description     113
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     9937
Country           0
dtype: int64

In [32]:
#  Remove rows with missing values
df = df.dropna()

## Remove Duplicates

In [33]:
# Check for duplicates
print(df.duplicated().sum())

407

In [34]:
# Remove duplicates
df = df.drop_duplicates()

## Convert Data Types

In [35]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['CustomerID'] = df['CustomerID'].astype('int'
df['InvoiceNo'] = df['InvoiceNo'].astype('int'))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (646013866.py, line 2)

##  Outliers

In [ ]:
Q1 = df['Quantity'].quantile(0.25)
Q3 = df['Quantity'].quantile(0.75)
IQR = Q3 - Q1

# outlier boundaries
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['Quantity'] < lower_bound) | (df['Quantity'] > upper_bound)]
outliers

In [ ]:
#removing
dfCleaned = df[(df['Quantity'] >= lower_bound) & (df['Quantity'] <= upper_bound)]

## Store Cleaned Data

In [ ]:
dfCleaned.to_csv('cleanedStoreData.csv', index=False)

## cleaned data

In [ ]:
cleanedStoreData=pd.read_csv("data.csv", low_memory=False)
df1 = pd.DataFrame(cleanedStoreData)

In [ ]:
# Add new column 'Total Value' which is Quantity * Unit Price
df1['TotalValue'] = df1['Quantity'] * df1['UnitPrice']
# data

# "Store data"

In [ ]:
df1.head(100)

In [ ]:
# Total rows and columns
df1.shape

In [ ]:
#to find customer who has spend maximum money in single  item purchase
df1.loc[df1["TotalValue"].argmax()][["CustomerID","Description","TotalValue"]]

# Product List

In [ ]:
#total number of uniqe products 
print(len(df1.Description.unique()))
#product List
print("\n".join(map(str, df1.Description.unique())))

# Countries List

In [ ]:
#total number of uniqe countries 
print(len(df1.Country.unique()))
#Country List
print("\n".join(df1.Country.unique()))

### Total money spend by customers(country wise)

In [ ]:
salesByCountry = df1.groupby('Country')['TotalValue'].sum().sort_values(ascending=False)

# to dataframe
salesByCountrydf = salesByCountry.reset_index()
salesByCountrydf.columns = ['Country', 'TotalExpense']

# Print the DataFrame
salesByCountrydf

### total quantity of products sold overall

In [ ]:
totalProductsSold = df1.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(100)
# show data
totalProductsSold

###  total amount spend  by customer over all

In [ ]:
CustomerTotalSpending = df1.groupby('CustomerID')['TotalValue'].sum().sort_values(ascending=False).head(100)
# show data
CustomerTotalSpending

## Customers from each country

In [ ]:
customerCounts = df.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False)
customerCounts

### daily sales amount

In [ ]:
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])
dailySales = df1.groupby(df1['InvoiceDate'].dt.to_period('D'))['TotalValue'].sum()
dailySalesdf = dailySales.reset_index()
dailySalesdf.columns = ['Date', 'TotalExpense']
# Extracting the day from the date for ploting graph
dailySalesdf['Day'] = dailySalesdf['Date'].dt.day
dailySalesdf

# Visualizations

## Graph to show Total Expense by Country in Log Scale

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(salesByCountrydf['Country'], salesByCountrydf['TotalExpense'], color='skyblue')
plt.yscale('log')
plt.xlabel('Country')
plt.ylabel('Total Expense (log scale)')
plt.title('Total Expense by Country (Log Scale)')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

## Graph to show daily  Expense

In [ ]:
plt.figure(figsize=(14, 6))
plt.bar(dailySalesdf['Day'], dailySalesdf['TotalExpense'], color='skyblue')
plt.xlabel('Day')
plt.ylabel('Total Expense')
plt.title('Daily Expense')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

## Graph to show customer total spending

In [ ]:
plt.figure(figsize=(17,8))
CustomerTotalSpending.plot(kind='bar')
plt.title('Customer Total Spending')
plt.xlabel('CustomerID')
plt.ylabel('Total Spending')
plt.tight_layout()
plt.show()

## Graph to show customer total quantity of product sold

In [ ]:
plt.figure(figsize=(17,8))
totalProductsSold.plot(kind='bar')
plt.title('Total quantity of product sold')
plt.xlabel('Quantity')
plt.ylabel('Description')
plt.tight_layout()
plt.show()

In [ ]:
# pairwise relationships between quantity and unit price with respect to country
sns.pairplot(df, vars=['Quantity', 'UnitPrice'], hue='Country')

In [ ]:
customerCounts = customerCounts.reset_index()
fig = px.bar(customerCounts, x='Country', y='CustomerID', title='Number of Customers by Country')
fig.show()

In [ ]:
#  distribution of a quantity  variable
sns.histplot(df['Quantity'], bins=30, kde=True, color='blue')

In [ ]:
# relationships between quantity and unitprice variables
sns.scatterplot(x='Quantity', y='UnitPrice', data=df)